---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Informations pratiques</h1>
    </div>

    <div>
        <h2 class="mt-15">Tarifs du festival :</h2>
        <ul class="mx-8 my-6">
            Pass Journée :
            <li>- Adultes (à partir de 18 ans) : 10€</li>
            <li>- Réduit (étudiants, moins de 18 ans) : 8€</li>
            <li>- Enfants (moins de 12 ans) : 3€</li>
        </ul>
        <ul class="mx-8 my-6">
            Pass 3 jours :
            <li>- Adultes (à partir de 18 ans) : 25€</li>
            <li>- Réduit (étudiants, moins de 18 ans) : 19€</li>
            <li>- Enfants (moins de 12 ans) : 8€</li>
        </ul>
    </div>

    <div>
        <h2 class="mt-15">Lieu :</h2>
        <p class="text-lg mx-8 my-6">L'AtraXion, Belfort</p>
        <div class="max-w-full overflow-hidden">
            <img
                class="max-w-full h-auto mx-auto block text-center"
                src="/src/assets/img/atraxion.webp"
                alt="L'AtraXion, Belfort"
            />
        </div>
    </div>

    <div class="max-w-full overflow-hidden">
        <iframe
            class="mt-10 max-w-full h-auto mx-auto block text-center"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2690.0906608357614!2d6.859954212028398!3d47.604926787972836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47923e1b276a30bb%3A0x2104ccadfe33b055!2sL'%20AtraXion%20-%20Parc%20des%20Expositions%20de%20Belfort%20-%20H%C3%A9ricourt%20-%20Montb%C3%A9liard!5e0!3m2!1sfr!2sfr!4v1741851602295!5m2!1sfr!2sfr"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="mx-8 my-6">
        <p class="mb-5">
            Le Parc des Expositions de Belfort, est un lieu emblématique pour
            l’organisation d'événements majeurs dans la région. Moderne et
            spacieux, il offre un cadre idéal pour accueillir festivals, salons,
            et spectacles.
        </p>
        <p class="mb-5">
            Situé à proximité des grands axes, il est facilement accessible et
            propose des infrastructures adaptées pour des moments de partage et
            de découvertes. Avec ses espaces modulables et sa capacité à
            accueillir des milliers de visiteurs, l’AtraXion est le lieu parfait
            pour vivre l'intensité d'un festival comme celui dédié à l’animation
            japonaise.
        </p>
    </div>

    <div>
        <h2 class="mt-15">Hébergement :</h2>
        <ul class="mx-8 my-6">
            Hôtels :
            <li>- Ibis Belfort Danjoutin</li>
            <li>- Kyriad Belfort</li>
            <li>- Hôtel F1 Belfort Centre</li>
        </ul>
        <ul class="mx-8 my-6">
            Chambres d'hôtes ou locations :
            <li>
                De nombreuses chambres d'hôtes ou appartements en location
                courte durée sont disponibles dans les environs d'Andelnans et
                Belfort via des plateformes comme Airbnb. Ces options peuvent
                être plus conviviales ou adaptées pour des groupes.
            </li>
        </ul>
        <ul class="mx-8 my-6">
            Camping :
            <li>
                Camping de l'Étang des Forges, situé à Belfort, ce camping est
                bien noté et offre une atmosphère calme à seulement 10-15
                minutes en voiture de l'Atraxion.
            </li>
        </ul>
    </div>

    <div>
        <h2 class="mt-15">Transport</h2>
        <ul class="mx-8 my-6">
            <li class="mb-5">
                - En voiture : Vous pouvez emprunter l'autoroute A36 et prendre
                la sortie Belfort-Centre pour rejoindre le parc. Un parking
                spacieux est disponible sur place pour accueillir les visiteurs.
            </li>
            <li class="mb-5">
                - En train : Une fois à la gare, des navettes spéciales ou des
                lignes de bus régulières vous conduiront directement au Parc des
                Expositions en une quinzaine de minutes.
            </li>
            <li class="mb-5">
                - En bus : Le réseau de bus Optymo de Belfort propose des lignes
                qui desservent le Parc des Expositions. C’est un moyen pratique
                pour se rendre sur place sans se soucier du stationnement.
            </li>
            <li class="mb-15">
                - En vélo : Pour les locaux ou les visiteurs souhaitant adopter
                un mode de transport écologique, des pistes cyclables permettent
                de rejoindre le Parc des Expositions. Des emplacements pour
                vélos sont disponibles à proximité de l'entrée.
            </li>
        </ul>
    </div>

    <div>
        <h2 class="mt-15">FAQ :</h2>
    </div>

    <div
        class="flex w-full flex-col gap-4 text-on-surface dark:text-on-surface-dark mb-15"
    >
        <div
            x-data="{ isExpanded: false }"
            class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
        >
            <button
                id="controlsAccordionItemOne"
                type="button"
                class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
                aria-controls="accordionItemOne"
                x-on:click="isExpanded = ! isExpanded"
                x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
                x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
            >
                Qu’est-ce que le festival des films d’animation japonaise ?
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-5 shrink-0 transition"
                    aria-hidden="true"
                    x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
            </button>
            <div
                x-cloak
                x-show="isExpanded"
                id="accordionItemOne"
                role="region"
                aria-labelledby="controlsAccordionItemOne"
                x-collapse
            >
                <div class="p-4 text-sm sm:text-base text-pretty">
                    Le festival des films d’animation japonaise est un événement
                    dédié aux passionnés d’anime et de culture japonaise. Il
                    propose des projections de films classiques et récents, des
                    rencontres avec des invités, des conférences et diverses
                    animations.
                </div>
            </div>
        </div>

        <div
            x-data="{ isExpanded: false }"
            class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
        >
            <button
                id="controlsAccordionItemTwo"
                type="button"
                class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
                aria-controls="accordionItemTwo"
                x-on:click="isExpanded = ! isExpanded"
                x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
                x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
            >
                Comment puis-je acheter un billet ?
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-5 shrink-0 transition"
                    aria-hidden="true"
                    x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
            </button>
            <div
                x-cloak
                x-show="isExpanded"
                id="accordionItemTwo"
                role="region"
                aria-labelledby="controlsAccordionItemTwo"
                x-collapse
            >
                <div class="p-4 text-sm sm:text-base text-pretty">
                    Les billets sont disponibles en ligne sur notre site
                    officiel ainsi qu'à l’entrée du festival, dans la limite des
                    places disponibles.
                </div>
            </div>
        </div>
        <div
            x-data="{ isExpanded: false }"
            class="overflow-hidden rounded-radius border border-outline bg-surface-alt/40 dark:border-outline-dark dark:bg-surface-dark-alt/50"
        >
            <button
                id="controlsAccordionItemThree"
                type="button"
                class="flex w-full items-center justify-between gap-2 bg-surface-alt p-4 text-left underline-offset-2 hover:bg-surface-alt/75 focus-visible:bg-surface-alt/75 focus-visible:underline focus-visible:outline-hidden dark:bg-surface-dark-alt dark:hover:bg-surface-dark-alt/75 dark:focus-visible:bg-surface-dark-alt/75"
                aria-controls="accordionItemThree"
                x-on:click="isExpanded = ! isExpanded"
                x-bind:class="isExpanded ? 'text-on-surface-strong dark:text-on-surface-dark-strong font-bold'  : 'text-on-surface dark:text-on-surface-dark font-medium'"
                x-bind:aria-expanded="isExpanded ? 'true' : 'false'"
            >
                Les enfants peuvent-ils assister aux projections ?
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke-width="2"
                    stroke="currentColor"
                    class="size-5 shrink-0 transition"
                    aria-hidden="true"
                    x-bind:class="isExpanded  ?  'rotate-180'  :  ''"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
                </svg>
            </button>
            <div
                x-cloak
                x-show="isExpanded"
                id="accordionItemThree"
                role="region"
                aria-labelledby="controlsAccordionItemThree"
                x-collapse
            >
                <div class="p-4 text-sm sm:text-base text-pretty">
                    Oui, mais certains films peuvent être déconseillés aux
                    jeunes enfants en raison de leur classification. Consultez
                    le programme pour connaître les restrictions d’âge
                </div>
            </div>
        </div>
    </div>
    <script
        defer
        src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
</Layout>
