---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Le Festival (à propos)</h1>
    </div>

    <div>
        <h2 class="mt-15">Historique : Présentation du festival</h2>
        <p class="mx-8 my-6 mb-5">
            Fondé en 2024, le Festival des Films d'Animation Japonais est né de
            la passion pour l'univers riche et créatif de l'animation japonaise.
            Ce festival a pour ambition de célébrer l'art unique de l'animation
            japonaise en mettant en lumière ses créateurs emblématiques et en
            offrant une plateforme aux talents émergents.
        </p>
        <p class="mx-8 my-6 mb-5">
            Depuis sa création, le festival est devenu un rendez-vous
            incontournable pour les amateurs et professionnels de l'animation,
            accueillant chaque année des milliers de visiteurs et des invités
            prestigieux. L'objectif est de promouvoir la diversité culturelle et
            de créer des échanges enrichissants autour de cet art fascinant.
        </p>
    </div>

    <div>
        <h2 class="mt-15">Équipe : Organisateurs et équipe technique</h2>
        <p class="mx-8 mt-6 mb-1">
            Derrière cet événement se cache une équipe d’enthousiastes et de
            professionnels dédiés :
        </p>
        <ul class="mx-8 mb-1">
            <li>
                - Direction Artistique : Juline ADAM, experte en cinéma
                d’animation et fervent défenseur de la culture japonaise.
            </li>
            <li>
                - Organisation : Une équipe dynamique de 20 personnes regroupant
                des chargés de communication, des gestionnaires événementiels et
                des volontaires passionnés.
            </li>
            <li>
                - Support Technique : Une équipe technique hautement compétente
                qui veille au bon fonctionnement des projections, des ateliers
                et des installations.
            </li>
        </ul>
        <p class="mx-8 mt-4">
            Nous collaborons également avec des partenaires et des sponsors
            engagés, qui partagent notre vision et soutiennent nos ambitions.
        </p>
    </div>

    <div>
        <h2 class="mt-15">Charte : Valeurs et thématique de l’édition</h2>
        <p class="mx-8 mt-6 mb-1">
            Chaque édition du Festival des Films d'Animation Japonais repose sur
            des valeurs fortes :
        </p>
        <ul class="mx-8 mb-1">
            <li>
                - Créativité : Mettre en avant l’originalité et l’audace
                artistique des créateurs japonais.
            </li>
            <li>
                - Partage : Favoriser les échanges culturels entre les
                passionnés et les professionnels.
            </li>
            <li>
                - Accessibilité : Rendre l’animation japonaise accessible à
                tous, grâce à des projections, des ateliers et des activités
                interactives.
            </li>
        </ul>
        <p class="mx-8 mt-4 mb-5">
            Pour l’édition 2025, la thématique choisie est : Les Films
            d’animation Japonais. Nous souhaitons ainsi éveiller la curiosité et
            provoquer des discussions autour de cet aspect essentiel de
            l’animation japonaise.
        </p>
        <p class="mx-8 mt-4 mb-15">
            Rejoignez-nous pour célébrer cet univers captivant qui continue
            d’inspirer des générations de spectateurs à travers le monde.
        </p>
    </div>
</Layout>
