@import "tailwindcss";

@theme {
    --font-Rounded: "M PLUS Rounded 1c", "sans-serif";
    --font-Reggae: "Reggae One", system-ui;
}

@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
    }

    .noscroll {
        overflow: hidden;
    }
}

@layer base {
    h1 {
        @apply font-Reggae text-2xl text-center my-10;
    }

    h2 {
        @apply font-Rounded text-lg m-5 font-medium;
    }

    h3 {}

    body {
        @apply font-Rounded text-sm font-medium;
    }
}