---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1>Contactez-nous</h1>
    </div>
    <div
        class="flex flex-col items-center justify-center mt-15"
    >

        <form
            action="#"
            method="POST"
            class="max-w-lg lg:max-w-2xl w-full bg-white p-6 rounded-lg shadow-lg"
        >
            <div class="mb-4">
                <label for="nom" class="block text-sm font-medium text-gray-700"
                    >Nom</label
                >
                <input
                    type="text"
                    id="nom"
                    name="nom"
                    required
                    class="mt-1 p-2 w-full border rounded-lg"
                />
            </div>

            <div class="mb-4">
                <label
                    for="prenom"
                    class="block text-sm font-medium text-gray-700"
                    >Prénom</label
                >
                <input
                    type="text"
                    id="prenom"
                    name="prenom"
                    required
                    class="mt-1 p-2 w-full border rounded-lg"
                />
            </div>

            <div class="mb-4">
                <label
                    for="email"
                    class="block text-sm font-medium text-gray-700"
                    >Adresse mail</label
                >
                <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    class="mt-1 p-2 w-full border rounded-lg"
                />
            </div>

            <div class="mb-4">
                <label
                    for="message"
                    class="block text-sm font-medium text-gray-700"
                    >Message</label
                >
                <textarea
                    id="message"
                    name="message"
                    rows="5"
                    required
                    class="mt-1 p-2 w-full border rounded-lg"></textarea>
            </div>

            <button
                type="submit"
                class="w-full bg-red-700 text-white py-2 rounded-lg hover:bg-red-800 transition"
            >
                SOUMETTRE
            </button>
        </form>
    </div>
</Layout>
