---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Welcome />
	<div>
		<h1>Festival des films d'animation japonais</h1>
	</div>

	<div>
		<img
			src="/src/assets/img/accueil.webp"
			alt="diffusion d'un film japonais en plein air"
		/>
	</div>

	<div>
		<h2>Venez faire des rencontres uniques et partager votre passion !</h2>
	</div>

	<div>
		<p>
			Bienvenue au Festival des films d’animations japonais !
			Rejoignez-nous les <strong
				>11, 12 et 13 Juillet 2025 au Parc des Expositions de Belfort</strong
			> pour une expérience unique. C'est le rendez-vous incontournable pour
			tous les passionnés d'animation japonaise, où la magie de l'image et
			du son se rencontrent pour trois jours de projections, de discussions
			et de découvertes. Plongez au cœur des univers imaginaires, partagez
			votre passion avec d'autres amateurs et vivez des moments inoubliables
			dans un cadre exceptionnel !
		</p>
	</div>

	<div>
		<a href="/">CLIQUEZ POUR RÉSERVER VOS BILLETS</a>
	</div>
</Layout>
