---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/Carousel.astro";
import Card from "../../components/Card.astro";
import { getAfficheFilm } from "../../../backend/backend.mjs";

const films = await getAfficheFilm();
---

<Layout>
    <div>
        <h1>La programmation</h1>
    </div>

    <div>
        <h2>Différents stands sont mis en place avec :</h2>
        <ul class="mx-8">
            <li class="my-5">
                - Diffusions de films d’animation japonais (certains exclusifs)
            </li>
            <li>- Diffusions de making-of</li>
            <li>
                - Rencontres, discussions, dédicaces avec des réalisateurs,
                producteurs, animateurs et autres corps de métiers reliés
            </li>
            <li>
                - Ateliers et autres activités de découverte des métiers et de la
                réalisation dans l’animation japonaise
            </li>
        </ul>
    </div>

    <div class="mt-20">
        <h2>Films diffusés :</h2>
        <Carousel films={films} />
    </div>

    <div class="mt-20">
        <h2>Programmation en fonction des jours :</h2>
        <Card films={films} />
    </div>
</Layout>
