---
import Layout from "../../layouts/Layout.astro";
import Carousel from "../../components/Carousel.astro";
import Card from "../../components/Card.astro";
---

<Layout>
    <div>
        <h1>Programmation</h1>
    </div>

    <div>
        <h3>Différents stands sont mis en place avec :</h3>
        <ul>
            <li>
                Diffusions de films d’animation japonais (certains exclusifs)
            </li>
            <li>Diffusions de making-of</li>
            <li>
                Rencontres, discussions, dédicaces avec des réalisateurs,
                producteurs, animateurs et autres corps de métiers reliés
            </li>
            <li>
                Ateliers et autres activités de découverte des métiers et de la
                réalisation dans l’animation japonaise
            </li>
        </ul>
    </div>

    <div>
        <h3>Quelques exemples de films diffusés :</h3>
        <Carousel />
    </div>

    <div>
        <h3>Programmation en fonction des jours :</h3>
        <p>11 JUILLET 2025</p>
        <Card />
    </div>
</Layout>
