---
import PocketBase from "pocketbase";
const { films } = Astro.props;
console.log(films);
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4 md:col-span-2">
    {
        films.map((item: any) => (
            <img
                class="w-full rounded-2xl"
                src={item.affiche}
                alt="Affiche du film"
            />
        ))
    }
</div>
