---
import LogoInsta from "../assets/icones/insta-white.svg";
import LogoTiktok from "../assets/icones/tiktok-white.svg";
---

<footer class="bg-red-300 text-white p-6">
    <div
        class="container mx-auto flex flex-col lg:flex-row lg:items-center lg:justify-between"
    >
        <ul class="text-left space-y-2 lg:space-y-0 lg:flex lg:space-x-6">
            <li><a href="/">MENTIONS LÉGALES</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/">CONDITIONS GÉNÉRALES</a></li>
        </ul>

        <div class="flex justify-center lg:justify-end mt-4 lg:mt-0 space-x-4">
            <a href="https://instagram.com" aria-label="Instagram">
                <img src={LogoInsta.src} alt="Instagram" class="w-8 h-8 mx-4" />
            </a>
            <a href="https://www.tiktok.com" aria-label="Tiktok">
                <img src={LogoTiktok.src} alt="Tiktok" class="w-8 h-8 mx-4" />
            </a>
        </div>
    </div>
</footer>
