---
import Logo from "../assets/icones/logo.svg";
---

<header class="flex items-center justify-between p-4 bg-red-700 text-white">
    <div class="flex items-center">
        <a href="/">
            <img src="/src/assets/icones/logo.svg" alt="logo" />
        </a>
    </div>
    <nav>
        <ul class="flex space-x-4">
            <li><a href="/">Le Festival (À propos)</a></li>
            <li><a href="/programmation">Programmation</a></li>
            <li><a href="/">Informations pratiques</a></li>
            <li><a href="/">Inscriptions et tarifs</a></li>
        </ul>
    </nav>
</header>
