---
import Logo from "../assets/icones/logo.svg";
---

<header class="flex items-center justify-between p-4 bg-red-700 text-white">
    <div class="flex items-center">
        <a href="/">
            <img src="/src/assets/icones/logo.svg" alt="logo" />
        </a>
    </div>
    <button
        id="menu-btn"
        class="group relative z-10 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-white *:transition *:duration-300"
        aria-label="Menu"
        aria-controls="menu"
        aria-expanded="false"
    >
        <span
            class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"
        ></span>
        <span
            class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"
        ></span>
    </button>
    <nav
        id="menu"
        class="flex-1 px-6 py-12 flex justify-between mt-20 flex-col fixed z-10 inset-0 bg-red-300 visible opacity-100 max-lg:aria-hidden:invisible max-lg:aria-hidden:opacity-0 lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-6 lg:visible lg:opacity-100"
        aria-hidden="true"
    >
        <ul class="flex flex-col gap-4 lg:flex-row text-2xl lg:text-lg">
            <li>
                <a class="block p-4 rounded-lg text-white" href="/apropos">Le Festival (À propos)</a>
            </li>
            <li>
                <a class="block p-4 rounded-lg text-white" href="/programmation"
                    >Programmation</a
                >
            </li>
            <li>
                <a class="block p-4 rounded-lg text-white" href="/invite"
                    >Nos invités</a
                >
            </li>
            <li>
                <a class="block p-4 rounded-lg text-white" href="/activite"
                    >Nos activités</a
                >
            </li>
            <li>
                <a class="block p-4 rounded-lg text-white" href="/infos"
                    >Informations pratiques</a
                >
            </li>
            <li>
                <a class="block p-4 rounded-lg text-white" href="/"
                    >Inscriptions et tarifs</a
                >
            </li>
        </ul>
    </nav>
</header>

<script>
    // On cible les éléments à modifier
    const toggle = document.querySelector("#menu-btn");
    const nav = document.querySelector("#menu");
    const page = document.body;

    // Vérifier si les éléments existent avant d'ajouter l'événement
    if (toggle && nav) {
        toggle.addEventListener("click", () => {
            const isOpen = toggle.ariaExpanded === "true";
            const isClosed = !isOpen;
            // Mise à jour des attributs ARIA pour accessibilité
            toggle.ariaExpanded = String(isClosed);
            nav.ariaHidden = String(isOpen);
            page.classList.toggle("noscroll", isClosed);
        });
    }
</script>
